.main {
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.main nav {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5rem;
  padding: 1.5rem;
  background-color: rgb(252, 252, 42);
}

.main ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 50%;
}

.main li {
  margin-right: 2%;
}

.nav {
  margin-left: 5%;
}

.social {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  line-height: 1;
}

.social li a {
  height: 30px!important;
  width: 30px!important;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  margin-left: 10%;
}

.intro h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.intro p {
  font-size: 1.5rem;
}

.rbk {
  width: 400px;
  height: 500px;
}

.portfolio {
  text-align: center;
  min-height: 100vh;
  background-color: rgb(252, 252, 42);
}

.portfolio h1 {
  font-size: 2.5rem;
  padding-top: 3%;
}

.list {
  margin: 0 auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 2rem;
  max-width: 65%;
}

.card img {
  -webkit-box-shadow: 5px 5px 19px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 19px -8px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 19px -8px rgba(0,0,0,0.75);
}


.txt {
  font-size: 1.2rem;
  padding:2rem;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 7%;
}

.footer {
  color: azure;
  text-align: center;
  padding: 2rem;
  background-color: black;
}

.flexcol {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1350px) {
  .intro {
    margin: 0 auto;
    margin-top: 15%;
  }
  .desc {
    margin: 0 auto;
    padding: 1rem;
  }
  .list {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 2rem;
    max-width: 90%;
  }
  .txt {
    border: none;
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .main nav {
    flex-direction: column-reverse;
    height: 7rem;
  }
  .main ul {
    width: 100%;
    margin: 0;
    justify-content: space-around;
  }
  .intro {
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    flex-direction: column;
  }
  .intro h1 {
    font-size: 2.5rem;
  }
  .pic{
    margin-top: 3%;
  }
  .flexcol {
    flex-direction: column-reverse;
  }
  .portfolio h1 {
    padding-top: 10%;
  }
  .social {
    justify-content: center!important;
  }
  .nav{
    margin-top: 1rem!important;
  }
  .txt {
    max-width: 100%;
  }
  .list {
    grid-template-columns: auto;
    margin-top: 10%;
    max-width: 100%;
  }
  .despre {
    margin-top: 10%;
  }
}

.overlay {
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.top {
  z-index:999
}

.both {
  background-color: rgb(168, 166, 166);
  opacity: 0.6;
  z-index: 2;
}


.flexrow {
  display: flex;
  flex-direction: row;
}

