.cv {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: 3%;
}

.cv h1 {
  font-size: 1.5rem;
  color: rgb(22, 77, 196);
  margin-top: 0.5rem;
  border-bottom: 3px solid grey;
}

.cv h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
  border-bottom: 1.5px solid grey;
}

.cv li {
  margin-left: 1.5rem;
}

@media screen and (max-width:600px) {
  .cv {
    width: 85%;
    margin-bottom: 10%;
    margin-top: 10%;
  }
}
